.Button-Container{
justify-content: space-evenly;
margin-top: 10%; 
}
.Grid{
display: flex;
justify-content: space-evenly;
}
.Features{
    display: inline-flex;
    margin: .5em;
    width: 30%;
    height: 300px;
}